/*
--- 01 Typography SYSTEM

Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


Font weights:

Line heights: 1

--- 02 COLORS

primary: #e67e22

Tints:
Shades:
Accents:
Grey: #555

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: antiquewhite;
}

h1 {
  position: relative;
}

.ellipse {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 543px;
  top: 4236px;

  background: linear-gradient(
    180deg,
    #f5cb55 0%,
    rgba(251, 219, 113, 0.76) 100%
  );
}
